<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pulsan Teks{% endblock %}</title>
</head>
<body>

<div style="background:#222;padding:15px;">
    {% if request.user.is_authenticated %}

        {% if request.user.is_superuser %}
            <a href="{% url 'dashboard_home' %}" style="color:white;">Dashboard</a>
            <a href="{% url 'order_list' %}" style="color:white;">Zakazlar</a>
            <a href="{% url 'batch_list' %}" style="color:white;">Batchlar</a>
            <a href="{% url 'worker_dashboard' %}" style="color:white;">Worker</a>
            <a href="{% url 'warehouse_list' %}" style="color:white;">Ombor</a>
            <a href="{% url 'shipment_list' %}" style="color:white;">Jo'natish</a>
            <a href="/admin/" style="color:white;">Admin</a>
        {% else %}
            <a href="{% url 'worker_dashboard' %}" style="color:white;">Worker</a>
        {% endif %}

        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Chiqish</button>
        </form>

    {% else %}
        <a href="{% url 'login' %}" style="color:white;">Kirish</a>
    {% endif %}
</div>

<div style="padding:20px;">
{% block content %}
{% endblock %}
</div>

</body>
</html>